* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Clash Display";
}

.header {
    display: flex;
    background-color: #2A254B;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex-direction: column;
}

.head {
    display: flex;
    color: #FFFFFF;
}

.close {
    display: flex;
    position: absolute;
    right: 20px;
    color: #FFFFFF;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px;
}

.navigation{
    display: flex;
    align-items: end;
}

.icon{
    margin-left: 20px;
}


.Logo {
    font-size: 24px;
}

.iconmob{
    display: none;
}

ul{
    display: flex;
    list-style: none;
}

li {
    margin-left: 20px;
}

a {
    text-decoration: none;
}

.nav2{
    display: flex;
    background-color:#F9F9F9;
   padding: 10px;
   align-items: center;
   justify-content: center;
}

.nav2mob{
    display: none;
}

.main1{
    display: flex;
    align-items: center;
    justify-content: space-around;
   margin: 20px 0px 20px 0px;
}

.main1mob{
    display: none;
}

.title1{
    font-size: 36px;
    color:#2A254B ;
}

.button1{
    background-color: #F9F9F9;
    position: relative;
    padding: 10px;
    color: #170d59;
}

.main2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 50px 0px 0px 180px;
}

.main2mob{
    display: none;
}


.box1 {
    background-color: #2A254B;
    height: 482px;
    width: 630px;
    padding: 50px;
    left: -100px;
    color: white;
}


.button2 {
    background-color: #F9F9F926;
    top: 270px;
    left: 50px;
    position: relative;
    padding: 20px;
    height: 100px;
    width: 170px;
}

.title2 {
    font-size: 32px;
}

.foto {
    margin: 10px;
}

.main3{
    display: flex;
    margin-top: 50px;
}

.main3mob{
    display: none;
}

.box2{
    display: flex;
    flex-direction: column;
    background-color:whitesmoke ;
    padding: 100px;
    position: relative;
}

.title3{
    color: #170d59;
    font-size: 34px;
    margin-bottom: 20px;
}

.tex1{
    color:#505977;
    font-size: 20px;
    margin-bottom: 10px;
}

.tex2{
    color:#505977;
    font-size: 20px;
    margin-bottom: 10px;
}

.button3{
    background-color: #F9F9F9;
    position: relative;
    padding: 20px;
    width: 150px;
    color: #170d59;
    position:absolute;
    bottom:20px ;
}

.title4 {
    position: relative;
    top: 20px;
    font-size: 24px;
    text-align: center;
}

.title4mob{
    display: none;
}

.main4 {
    display: flex;
    align-items: center;
    margin: 10px 0px 10px 150px;
}


.box3 {
    border: 5px solid #F9F9F9;
    background-color: #F9F9F9;
    height: 200px;
    width: 300px;
    background-color: #F9F9F9;
    padding: 48px;
    font-size: 20px;
    color: #2A254B;
    margin: 20px;
}

.text {
    position: relative;
    font-size: 16px;
    top: 10px;
}

.box4 {
    border: 5px solid #F9F9F9;
    background-color: #F9F9F9;
    height: 200px;
    width: 300px;
    background-color: #F9F9F9;
    padding: 48px;
    font-size: 20px;
    color: #2A254B;
    margin: 20px;
}

.box5 {
    border: 5px solid #F9F9F9;
    background-color: #F9F9F9;
    height: 200px;
    width: 300px;
    background-color: #F9F9F9;
    padding: 48px;
    font-size: 20px;
    color: #2A254B;
    margin: 20px;
}

.box6 {
    border: 5px solid #F9F9F9;
    background-color: #F9F9F9;
    height: 200px;
    width: 300px;
    background-color: #F9F9F9;
    padding: 48px;
    font-size: 20px;
    color: #2A254B;
    margin: 20px;
}

.main5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: white;
    width: 100%;
    margin: 100px;

}

.signup {
    width: 100%;
    height: 444px;
    color: #2A254B;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F9F9F9;
}

.signupmob{
    display: none;
}

.title5 {
    font-size: 32px;
    margin: 10px;
}

.text7 {
    font-size: 18px;
    text-align: center;
    margin: 20px;

}

input {
    padding: 15px;
}


.signup2 {
    width: 354px;
    height: 56px;
    background: #2A254B;
    padding: 16px 32px 16px 32px;
    margin-left: -5px;
    color: white;
}


.form {
    padding: 100px;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #2A254B;
    color: #FFFFFF;
    padding: 50px;
}

.toopfooter {
    display: flex;
    align-items: center;
}

.toopfootermob{
    display: none;
}

.Logofooter {
    font-size: 36px;
    margin-bottom: 20px;
}

.box7 {
    margin-left: 50px;
}

.box8 i {
    margin-left: 10px;
}

.box8 {
    margin-left: 50px;
}

.box8 {
    display: flex;
    margin-left: 200px;
}

ol{
    list-style: none;
   
}

.ol2 {
    margin: 0px 50px;
}

.box9{
    display: flex;
}


.Copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #4E4D93;
    margin: 29px;
    padding: 20px;
}

.Copyrightmob{
    display: none;
}

@media screen and (max-width:800px) {
    .header{
        display: flex;
        align-items: center;
    }

    .navigation{
        display: none;
    }

.icon{
    display: none;
}

    .iconmob{
        display: flex;
    }

    .nav{
        display: flex;
        align-items: center;
    }

    .nav2{
        display: none;
    }

    .nav2mob{
display: flex;
display: flex;
background-color:#F9F9F9;
padding: 10px;
align-items: center;
justify-content: center;
    }

    .main1{
        display: none;
    }

    .main1mob{
        display: flex;
       flex-direction: column;
       margin: 40px;
    }

    .title1mob{
        display: flex;
        font-size: 25px;
    color:#2A254B ;
   
}

.button1mob{
    display: block;
    text-align: center;
    background-color: #F9F9F9;
    position: relative;
    padding: 10px;
    color: #170d59;
    margin-top: 20px;
}

.main2{
    display: none;
}

 .main2mob{
    display: flex;
    flex-direction: column;
   margin: 20px;
    justify-content: center;
}

.box1mob{
    display: flex;
    flex-direction: column;
    background-color: #2A254B;
    height: 282px;
    width: 342px;
    padding: 50px;
    color: white;
    margin-bottom: 20px;
}

.title2mob{
    display: flex;
    font-size: 20px;
    margin-bottom: 10px;
}

.button2mob{
    display: flex;
    background-color: #F9F9F926;
    top: 40px;
    left: 40px;
    position: relative;
    padding: 20px;
    height: 56px;
    width: 170px;
}

.main3{
    display: none;
}


.main3mob{
    display: flex;
    flex-direction: column;
}

.box2mob{
    display: flex;
    flex-direction: column;
    background-color:whitesmoke ;
    padding: 50px;
    position: relative;
}

.title3mob{
    color: #170d59;
    font-size: 20px;
    margin-bottom: 10px;
}

.tex1mob{
    color:#505977;
    font-size: 14px;
    margin-bottom: 10px;
}

.tex2mob{
    color:#505977;
    font-size: 14px;
    margin-bottom: 10px;
}

.button3mob{
    display: block;
    text-align: center;
    background-color:white;
    color: #170d59;
    padding: 20px;
}

.main4{
    display: flex;
    flex-direction: column;
    margin-left: -20px;
}

.title4{
    display: none;
}

.title4mob{
display: flex;
font-size: 20px;
margin: 20px 0px 10px 30px;
}

.signup{
    display: none;
}

.signupmob{
    display: flex;
    color: #2A254B;
    margin: 20px 20px 20px 20px;
}

.text6mob{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.signup2mob{
    width: 354px;
height: 56px;
background: #2A254B;
padding: 16px 32px 16px 32px;
margin-left: -5px;
color: white; 
}

.toopfooter{
    display: none;
}

.Copyright{
    display: none;
}

.toopfootermob{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
}


.Logofootermob {
    font-size: 36px;
    margin-bottom: 10px;
}

.box7mob{
     margin-top: 10px;
    margin-bottom: 10px;
}

.ol1mob{
    margin-bottom: 10px;
}

.ol2mob{
    margin-bottom: 10px;
}

.boxs1{
display: flex;
align-items: center;
}

.box8mob{
margin-top: 20px;
display: flex;
}

.Copyrightmob {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #4E4D93;
    padding: 20px;
}


 }

    



