* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Clash Display";
}

.header {
    display: flex;
    background-color: #2A254B;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
}

.headermob {
    display: none;
}

.head {
    display: flex;
    color: #FFFFFF;
}

.headmob {
    display: none;
}

.close {
    display: flex;
    position: absolute;
    right: 20px;
    color: #FFFFFF;
}

.closemob {
    display: none;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px;
}

.iconmob {
    display: none;
}

.Logo {
    font-size: 24px;
}

.unlist {
    display: flex;
    list-style: none;
}

li {
    margin-left: 20px;
}

a {
    text-decoration: none;
}

.main1 {
    display: flex;
}

.box1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 62px;
}

.box1mob {
    display: none;
}

.imgmob {
    display: none;
}

.title2 {
    margin-bottom: 20px;
}

.price {
    margin: 10px 0px 50px 0px;
}

.Description {
    color: #505977;
}

.p1 {
    margin-bottom: 20px;
}

.p2 {
    margin-bottom: 20px;
}

.table {
    color: #2A254B;
}

table tr {
    margin-left: 20px;
}

.p3 {
    margin: 20px 0px;
}

.box1inf {
    display: flex;
    margin-top: 50px;
    align-items: center;
}

.b1a {
    display: flex;
    background-color: #F9F9F9;
    align-items: center;
    width: 100px;
    padding: 10px;
    justify-content: center;
}

.button1 {
    display: flex;
    margin-left: 200px;
    background-color: #2A254B;
    padding: 10px;
    color: white;
}

.main2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 60px;
    width: 90%;
    margin-top: 100px;
    position: relative;
}

.main2mob {
    display: none;
}

.title1 {
    font-size: 32px;
    color: #2A254B;
    position: absolute;
    bottom: -150px;
    margin-left: 180px;
}

.title1mob {
    display: none;
}

.Dandychair {
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
}

.RusticVaseSet {
    display: flex;
    flex-direction: column;
    margin: 0px 10px;

}

.TheSilkyVase {

    margin: 0px 10px;
    display: flex;
    flex-direction: column;
}

.lamp {
    margin: 0px 10px;

    display: flex;
    flex-direction: column;
}

.text2 {
    font-size: 20px;
    color: #2A254B;
}

.button2 {
    background-color: #F9F9F9;
    top: 20px;
    left: 750px;
    position: relative;
    padding: 10px;
    height: 150px;
    color: #2A254B;
}

.button2mob{
    display: none;
}

.main3 {
    display: flex;
    align-items: center;
    margin: 10px 0px 10px 150px;
}

.title2 {
    position: relative;
    top: 20px;
    font-size: 24px;
    text-align: center;
}

.title2mob{
    display: none;
}

.box2 {
    height: 200px;
    width: 300px;
    padding: 48px;
    font-size: 20px;
    color: #2A254B;
    margin: 20px;
}

.text {
    position: relative;
    font-size: 16px;
    top: 10px;
}

.box3 {
    height: 200px;
    width: 300px;
    padding: 48px;
    font-size: 20px;
    color: #2A254B;
    margin: 20px;
}

.box4 {
    height: 200px;
    width: 300px;
    padding: 48px;
    font-size: 20px;
    color: #2A254B;
    margin: 20px;
}

.box5 {
    height: 200px;
    width: 300px;
    padding: 48px;
    font-size: 20px;
    color: #2A254B;
    margin: 20px;
}

.main4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: white;
    width: 100%;
    margin: 100px;

}

.signup {
    width: 100%;
    height: 444px;
    color: #2A254B;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F9F9F9;
}

.title3 {
    font-size: 32px;
    margin: 10px;
}

.text3 {
    font-size: 18px;
    text-align: center;
    margin: 20px;

}

input {
    padding: 15px;
}


.signup2 {
    width: 354px;
    height: 56px;
    background: #2A254B;
    padding: 16px 32px 16px 32px;
    margin-left: -5px;
    color: white;
}

.signupmob{
    display: none;
}

.form {
    padding: 100px;
}

footer {
    background-color: #2A254B;
    color: #FFFFFF;
    padding: 50px;
}

.toopfooter {
    display: flex;
    align-items: center;
}

.toopfootermob{
    display: none;
}

ol {
    list-style: none;
}

.Logofooter {
    font-size: 36px;
    margin-bottom: 20px;
}

.box6 {
    margin-left: 50px;
}

.box7 i {

    margin-left: 10px;
}

.box7 {
    margin-left: 50px;
}

.box8 {
    display: flex;
    margin-left: 200px;
}

.ol2 {
    margin: 0px 50px;
}

.Copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #4E4D93;
    margin: 29px;
    padding: 20px;
}

.Copyrightmob{
    display: none;
}

@media screen and (max-width:800px) {
    .headmob {
        display: flex;
        font-size: 14px;
        color: white;
    }

    .header {
        display: none;
    }

    .headermob {
        display: flex;
        background-color: #2A254B;
        align-items: center;
        justify-content: center;
        padding: 5px;
        position: relative;
    }

    .head {
        display: none;
    }

    .closemob {
        display: flex;
        color: white;
    }

    nav {
        display: none;
    }

    .iconmob {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .icon {
        display: none;
    }

    .main1 {
        display: flex;
        flex-direction: column;
    }

    .imgmob {
        display: flex;
    }

    .img {
        display: none;
    }

    .main2 {
        display: none;
    }

    .box1 {
        display: none;
    }

    .box1mob {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: #2A254B;
        margin: 20px;
    }

    .title2mob {
        display: flex;
        margin-bottom: 10px;
    }

    .pricemob {
        display: flex;
        margin-bottom: 10px;
    }

    .p1m {
        display: flex;
        margin-bottom: 20px;
    }

    .p2m {
        display: flex;
        margin-bottom: 20px;
    }

    .p3m {
        display: flex;
        margin: 20px 0px 20px 0px;
    }

    .b1am {
        display: flex;
        background-color: #F9F9F9;
        align-items: center;
        width: 350px;
        padding: 10px;
        justify-content: center;
    }

    .p4m {
        display: flex;
        margin: 20px 0px 20px 0px;
    }

    .button1mob {
        display: flex;
        background-color: #2A254B;
        padding: 10px;
        color: white;
        width: 350px;
        padding: 20px;
        text-align: center;
        margin-top: 10px;
    }

    .main2mob {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .title1mob {
        display: flex;
    }

    .title1 {
        display: none;
    }

    .RusticVaseSetmob {
        margin: 10px 0px 10px 10px;
    }

    .lampmob {
        margin: 10px 0px 10px 10px;
    }

    .button1mob{
        display: block;
    }

    .title1mob{
        margin-left: 25px;
    }

    .button2mob{
    background-color: #F9F9F9;
    bottom: 2px;
    right: -95px;
    position: relative;
    padding: 10px;
    height: 150px;
    color: #2A254B;
    }

    .button2{
        display: none;
    }

    .main3{
        display: flex;
        flex-direction: column;
 margin-right: 400px;
    }

    .title2{
        display: none;
    }

    .title2mob{
        display: flex;
        color: #2A254B;
        align-items: center;
       margin: 20px 0px 20px 20px;
        font-size: 20px;
    }

.box2{
    margin-top:-50px ;
}

    .box3{
        margin-top:-70px ;
    }

    .box4{
        margin-top:-40px ;
    }

    .box5{
        margin-top:-70px ;
    }

    .signup{
        display: none;
    }

    .signupmob{
        display: flex;
        color: #2A254B;
        margin: 20px 20px 20px 20px;
    }

    .text3mob{
        font-size: 14px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .signup2mob{
        width: 354px;
    height: 56px;
    background: #2A254B;
    padding: 16px 32px 16px 32px;
    margin-left: -5px;
    color: white; 
    }

    .toopfooter{
        display: none;
    }

    .Copyright{
        display: none;
    }

    .toopfootermob{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        color: white;
    }

    
    .Logofootermob {
        font-size: 36px;
        margin-bottom: 10px;
    }

    .box7mob{
         margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .ol1mob{
        margin-bottom: 10px;
    }

    .ol2mob{
        margin-bottom: 10px;
    }

 .boxs1{
    display: flex;
    align-items: center;
 }

 .box8mob{
    margin-top: 20px;
    display: flex;
 }
    
    .Copyrightmob {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 2px solid #4E4D93;
        padding: 20px;
    }



}